option_settings:
  aws:elasticbeanstalk:application:environment:
    DOMAIN: "homeroom.ap-southeast-1.elasticbeanstalk.com"
    EFS_MOUNT_DIR: "/efs"
    # Certbot env
    EFS_BASE_CERTBOT_DIR: "/efs/letsencrypt"
    EC2_CERTBOT_BACKUP_DIR: "/etc/efs-certbot"
    EC2_CERTBOT_DIR: "/etc/certbot/conf"
